<div
  id="modal"
  class="w-[80%] md:w-[70%] lg:w-[40%] absolute top-4 shadow-lg shadow-stone-400 hidden border border-gray-500 bg-white p-6 rounded flex flex-col items-start gap-2"
>
  <div class="flex justify-between w-full">
    <h2 class="font-bold text-xl">¿Como funciona?</h2>
    <button
      id="closeModal"
      class="bg-gray-100 hover:bg-gray-300 transition size-8 rounded flex items-center justify-center"
      >x</button
    >
  </div>
  <ul class="list-decimal flex flex-col gap-1">
    <li>Introduce la <strong>URL</strong> del producto de Amazon</li>
    <li>Espera 1-2 segundos mientras se carga la información del producto</li>
    <li>
      Introduce tu correo electrónico para recibir un aviso cuando el precio
      disminuya <strong>(opcional)</strong>
    </li>
  </ul>

  <div
    class="bg-yellow-50 border border-yellow-400 p-3 rounded text-sm text-yellow-800"
  >
    <h3 class="font-semibold mb-1">⚠️ ¿Algo no funciona?</h3>
    <ul class="list-disc pl-5 space-y-1">
      <li>
        Asegúrate de que la URL <strong
          >empieza por “https://www.amazon.”</strong
        >.
      </li>
      <li>
        Algunos productos (como los patrocinados o Prime Video) no permiten
        extraer datos.
      </li>
      <li>
        Prueba a <strong>recargar la página</strong> y pegar de nuevo el enlace.
      </li>
      <li>
        Si el problema persiste, prueba más tarde (Amazon puede bloquear
        temporalmente las peticiones).
      </li>
    </ul>
  </div>
</div>
