<div
  class="w-[80%] md:w-[70%] lg:w-[40%] p-2 border rounded flex flex-col md:flex-row items-center gap-4"
>
  <img
    class="size-[50%] md:h-full lg:h-full lg:w-[40%] aspect-square"
    src="https://m.media-amazon.com/images/I/61zsLWXwz0L._AC_AIweblab1228328,T3_FMavif_SF165,165_QL58_.jpg?aicid=homepage-qmacv2"
    alt="Imagen del producto"
  />
  <div class="flex flex-col gap-2">
    <h2 class="font-bold text-xl">Nombre del producto</h2>
    <span class="font-bold">25€</span>
    <div class="flex flex-col gap-3">
      <h2 class="text-gray-500">
        ¿Quieres recibir un correo cuando el precio disminuya?
      </h2>
      <form class="w-full flex gap-4">
        <input
          class="w-full border px-2 py-1 rounded"
          type="email"
          placeholder="correo@electronico.com"
          required
        />
        <button
          class="bg-amber-500 border border-amber-500 px-4 py-2 rounded"
          type="submit">Recibir</button
        >
      </form>
    </div>
  </div>
</div>
