---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Modal from "../components/Modal.astro";
import ProductForm from "../components/ProductForm.astro";
import ProductCard from "../components/ProductCard.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Modal />
  <div class="w-full flex flex-col gap-8 flex-1 items-center justify-center">
    <button
      id="show-modal-button"
      class="absolute right-0 top-0 m-7 shadow-md shadow-stone-400 bg-gray-100 hover:bg-gray-300 transition size-8 rounded flex items-center justify-center"
      >?</button
    >
    <ProductForm />
    <div
      id="product-card-container"
      class="hidden items-center justify-center
    w-[80%] md:w-[70%] lg:w-[40%] text-center"
    >
      <ProductCard />
    </div>
  </div>

  <Footer />

  <script>
    import "../scripts/index.ts";
  </script>
</Layout>
