---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import Modal from "../components/Modal.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <button
    id="btnModal"
    class="absolute right-0 top-0 m-7 bg-gray-100 hover:bg-gray-300 transition size-8 rounded flex items-center justify-center"
    >?</button
  >
  <form action="" class="w-[80%] md:w-[70%] lg:w-[40%] flex flex-col gap-2">
    <h1 class="text-2xl">Introduce la URL del producto para comenzar</h1>
    <div class="w-full flex gap-3">
      <input
        class="border p-2 rounded w-full"
        type="text"
        placeholder="url del producto"
        required
      />
      <button class="bg-amber-500 border border-amber-500 px-4 py-2 rounded"
        >Buscar</button
      >
    </div>
  </form>
  <Modal />
  <ProductCard />
</Layout>

<script>
  const btnModal = document.getElementById("btnModal");
  const modal = document.getElementById("modal");
  const closeModal = document.getElementById("closeModal");

  btnModal?.addEventListener("click", () => {
    modal?.classList.remove("hidden");
  });

  closeModal?.addEventListener("click", () => {
    modal?.classList.add("hidden");
  });
</script>
