---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import ProductCard from "../components/ProductCard.astro";
import Modal from "../components/Modal.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Modal />
  <button
    id="btnModal"
    class="absolute right-0 top-0 m-7 bg-gray-100 hover:bg-gray-300 transition size-8 rounded flex items-center justify-center"
    >?</button
  >
  <form
    id="productForm"
    action=""
    class="w-[80%] md:w-[70%] lg:w-[40%] flex flex-col gap-2"
  >
    <h1 class="text-2xl">Introduce la URL del producto para comenzar</h1>
    <div class="w-full flex gap-3">
      <input
        id="url"
        name="url"
        class="border p-2 rounded w-full"
        type="text"
        placeholder="url del producto"
        required
      />
      <button class="bg-amber-500 border border-amber-500 px-4 py-2 rounded"
        >Buscar</button
      >
    </div>
  </form>
  <div
    class="productCard flex items-center justify-center w-[80%] md:w-[70%] lg:w-[40%] text-center"
  >
  </div>

  <script>
    const form = document.getElementById("productForm");
    const input = document.getElementById("url") as HTMLInputElement;
    const container = document.querySelector(".productCard");
    form?.addEventListener("submit", async (e) => {
      e.preventDefault();

      const url = input.value;

      try {
        const res = await fetch("http://127.0.0.1:5000/api/scrape", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ url }),
        });

        const data = await res.json();

        container!.innerHTML = `
          <div class="w-full p-2 border border-gray-500 rounded flex flex-col md:flex-row items-center gap-4">
            <img class="size-[50%] md:h-full lg:h-full lg:w-[40%] aspect-square"
              src="${data.img_url}"
              alt="Imagen del producto"
            />
          <div class="flex flex-col items-start gap-2">
            <h2 class="font-bold">${data.title}</h2>
            <span class="font-bold">${data.price} €</span>
            <div class="flex flex-col gap-3">
              <h2 class="text-gray-500">¿Quieres recibir un correo cuando el precio disminuya?</h2>
              <form class="w-full flex gap-4">
                <input
                class="w-full border px-2 py-1 rounded"
                type="email"
                placeholder="correo@electronico.com"
                required
                />
                <button
                class="bg-amber-500 border border-amber-500 px-4 py-2 rounded"
                type="submit">Recibir</button>
                </form>
                </div>
                </div>
                </div>
              `;
      } catch (error) {
        container!.innerHTML = `
          <span class="bg-red-200 w-full p-4 rounded text-red-500 font-bold border-2 border-red-500" >
            ¡ Algo ha salido mal ! ERROR(${error})
          </span>
        `;
      }
    });

    const btnModal = document.getElementById("btnModal");
    const modal = document.getElementById("modal");
    const closeModal = document.getElementById("closeModal");

    btnModal?.addEventListener("click", () => {
      modal?.classList.remove("hidden");
    });

    closeModal?.addEventListener("click", () => {
      modal?.classList.add("hidden");
    });
  </script>
</Layout>
